AdvantexeVLEProject/AdvantexeVLE/Service References/AdvantexeService/Service1.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/BusinessObject" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/BusinessObject" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="ManageLogin">
    <xs:sequence>
      <xs:element minOccurs="0" name="Email_Id" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Password" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="UserId" type="xs:int" />
      <xs:element minOccurs="0" name="UserName" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ManageLogin" nillable="true" type="tns:ManageLogin" />
</xs:schema>